<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Telerik.Reporting.Trial" version="15.0.21.326" targetFramework="net461" />
  <package id="Telerik.ReportViewer.WinForms.Trial" version="15.0.21.326" targetFramework="net461" />
</packages>