
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}


<!doctype html>
<html lang="en">
<body>
  
    
    <!-- shedule part here -->
    <section class="shedule_part single_page_shedule section_padding overflow-hidden">
        <div class="container p-lg-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="shedule_content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">mon</th>
                                    <th scope="col">the</th>
                                    <th scope="col">wed</th>
                                    <th scope="col">thu</th>
                                    <th scope="col">fri</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fitness Aero</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shedule part end -->
    <!-- become a member part here -->
    <section class="become_member section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="become_member_text">
                        <h2>Many more Features are Waiting!</h2>
                        <p>Thinking about overseas adventure travel? Have you put any thought into the best places to go when it comes to overseas adventure travel?</p>
                        <a href="#" class="btn_1">Become a Member</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- become a member part end -->
    
  
</body>

</html>

