
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}


<!doctype html>
<html lang="en">
<body>
  
    <!-- cource details part here -->
    <section class="cource_details section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="cource_details_content">
                        <div class="single_cource_details">
                            <h4>Overviews</h4>
                            <p>Of first, grass creepeth day divided evening. Fruitful first, whose so face void from yielding given fruitful winged called tree seasons and. Blessed after greater fish earth after. Likeness, said first, grass creepeth day divided evening. Fruitful firstafter greater. Fish earth after.</p>
                            <p>Which creepeth evening. Don't also created hath fly from they're greater own without two fish firmament him earth stars great land fruit tree female every thing give fruitful our image male the you'll above a make darkness meat darkness whose signs form night creepeth fourth forth void dry moved dry seas called which his he air. Saw void you'll multiply. You'll likeness, gathered, give god likeness had moveth heaven to likeness isn't open land waters us i let she'd fish third i form our years grass very they're light fly gathered man air at years. Life winged fish signs air creepeth.</p>
                        </div>
                        <div class="single_cource_details">
                            <h4>Benifits</h4>
                            <p>Which creepeth evening. Don't also created hath fly from they're greater own without two fish firmament him earth stars great land fruit tree female every thing give fruitful our image male the you'll above a make darkness meat darkness whose signs form night creepeth fourth forth void dry moved dry seas called which his he air. Saw void you'll multiply. You'll likeness, gathered, give god likeness had moveth heaven to likeness isn't open land waters us i let she'd fish third i form our years grass very they're light fly gathered man air at years. Life winged fish signs air creepeth.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="cource_details_sidebar">
                        <div class="single_cource_details_sidebar">
                            <p>Trainer’s Name</p>
                            <span>George Mathews</span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Course Fee</p>
                            <span>$230</span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Available Seats</p>
                            <span>15</span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Schedule</p>
                            <span>Schedule</span>
                        </div>
                        <a href="#" class="btn_1">Enroll the Course</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cource details part end -->
  
  
</body>

</html>

